<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jesus Army</title>
  <link rel="stylesheet" href="./fonts/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <!-- Navigation -->
  <div class="p-3">
    <div class="navbar bg-deep-midnight px-3 rounded-md">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <!-- <li><a>Item 1</a></li> -->
            <!-- <li>
            <a>Parent</a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li> -->
            <li><a>About Us</a></li>
            <li><a>Movements</a></li>
            <li><a>Announcements</a></li>
          </ul>
        </div>
        <a class="text-xl bebas hover:text-crimson cursor-pointer">Jesus Army</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <!-- <li><a>Item 1</a></li> -->
          <!-- <li>
          <details>
            <summary>Parent</summary>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </details>
        </li> -->
          <li><a>About Us</a></li>
          <li><a>Movements</a></li>
          <li><a>Announcements</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a href="./login.html" class="btn bg-ghost text-white border-2 border-crimson hover:bg-crimson mr-2">Log In</a>
        <a href="./signup.html" class="btn bg-crimson text-white hover:bg-ghost hover:border-crimson hover:border-2">Join</a>
      </div>
    </div>
  </div>
  <!-- End of  Navigation -->


</body>

</html>